@page "/login"
@layout BlankLayout

<div class="tsv-login-page">
    <div class="tsv-login-form">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Đăng nhập</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Tên đăng nhập" InputType="InputType.Text"
                                  @bind-Value="model.Username" For="@(() => model.Username)"></MudTextField>
                    <MudTextField Label="Mật khẩu" InputType="InputType.Password" 
                                  @bind-Value="model.Password" For="@(() => model.Password)"></MudTextField>
                </MudCardContent>
                <MudCardActions>
                    <MudSpacer />
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="@loading">
                        @if (loading) {
                            <MudProgressCircular Class="mr-2" Size="Size.Small" Indeterminate="true" />
                            <MudText>Đang đăng nhập...</MudText>
                        } else {
                            <MudText>Đăng nhập</MudText>
                        }
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </EditForm>
    </div>
</div>