<MudDialog>
    <DialogContent>
        <div class="d-flex flex-column py-1">
            @foreach(var item in items)
            {
                <MudButton OnClick="@((e) => SelectProject(item))">@item.Name</MudButton>
            }
        </div>
    </DialogContent>
</MudDialog>
